NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDyzNgrBE_vWG9Lkyqfa7T4dVuuaz_XAcM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=intervueai-d5c3c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=intervueai-d5c3c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=intervueai-d5c3c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=126831144796
NEXT_PUBLIC_FIREBASE_APP_ID=1:126831144796:web:dd8e2edcc64cbf2e2ddb99
